.form-group
  label(for="itemName") Item Name
  input.form-control(type="text", name="itemName", placeholder="Put your item name.", value=item.itemName)
  .form-group
  label(for="price") Price
  input.form-control(type="number", name="price", placeholder="Put your item price.", value=item.price)
.form-group
  label(for="city") City
  input.form-control(type="text", name="city", placeholder="Put your item city.", value=item.city)
.form-group
  label(for="country") Country
  input.form-control(type="text", name="country", placeholder="Put your item country.", value=item.country)
.form-group
  label(for="intro") intro
  textarea.form-control(name="intro", rows="5")= item.intro
.form-group
  label(for="startDay") Start Date
  input.form-control(type="date", name="startDay", placeholder="Put your item startDay.", value=item.startDay)
.form-group
  label(for="endDay") End Date
  input.form-control(type="date", name="endDay", placeholder="Put your item endDay.", value=item.endDay)
.fomr-group
  label(for="img") Image
  input#file.form-contro(type="file")
  input#url.form-control(type="text",readonly="readonly",name="img",value="")
  img#preview.img-fluid(src="https://dummyimage.com/200x200/ccc/fff")

  script.
    $(function(){
      $("#preview").hide();
      $("#file").change(function(){
        var file = $("#file")[0].files[0];
        if(file){
          var url = "/s3?filename=" + encodeURIComponent(file.name)+
                    "&type=" + encodeURIComponent(file.type);
          console.log(url);
          $.getJSON(url, function(resp){
            console.log(resp.signedRequest);
            $.ajax({
              url: resp.signedRequest,
              method: 'PUT',
              data: file,
              headers: {'x-amz-acl': 'public-read', 'Content-Type': file.type},
              processData: false,
              contentType: file.type,
              success: function(){
                $("#preview").attr("src",resp.url).show();
                $("#url").val(resp.url);
              }
            });
          });
        };
      });
    });



//- .form-group
//-   label(for="maxNum") maxNum
//-   input.form-control(type="number", name="maxNum", value=item.maxNum)
//- .form-group
//-   label(for="maxNum") maxNum
//-   input.form-control(type="number", name="maxNum", value=item.maxNum)
//- .form-group
//-   label(for="maxNum") maxNum
//-   input.form-control(type="number", name="maxNum", value=item.maxNum)
//- .form-group
//-   label(for="maxNum") maxNum
//-   input.form-control(type="number", name="maxNum", value=item.maxNum)
//- .form-group
//-   label(for="keyword") keyword
//-   input.form-control(type="text", name="keyword", placeholder="keyword separated by spaces", value=item.keyword ? item.keyword.join(" ") : "")
