extends ../layout

block content
  .container
    br
    br
    br
    if(currentUser)
      if currentUser._id == user.id
        h1.main-title My Profile
      else
        h1.main-title=user.name +'님의 Profile'
          
    dl.row
      dt.col-sm-3 Name
      dd.col-sm-9=user.name
      dt.col-sm-3 Email
      dd.col-sm-9
        a(href=`mailto:${user.email}`)= user.email

      dt.col-sm-3 Created At
      dd.col-sm-9= user.createdAt

    hr
    if(currentUser)
      if currentUser._id == user._id || currentUser.type == 0
        p
          a.btn.btn-outline-primary(href=`/users/${user._id}/edit`) 회원 정보 수정
          | 
          a.btn.btn-outline-danger(href=`/users/${user._id}?_method=DELETE`) 회원 탈퇴
    br
    br
    br
    br
    br
    br
